@import "../design/variables.scss";

.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  nav {
    padding: 10px 10px;
  }

  .logo {
    float: left;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: .5rem;
  }

  .logo a {
    font-size: 2.5rem;
    letter-spacing: 0px;
    text-decoration: none;
    color: #fff; 
  }

  nav ul {
    float: right;
  }

  nav ul li {
    display: inline-block;
    padding-top: 1rem;
  }

  nav ul li:not(:first-child) {
    margin-left: 48px;
  }

  nav ul li:last-child {
    margin-right: 24px;
  }

  nav ul li a {
    display: inline-block;
    outline: none;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
  }

  @media screen and (max-width: 864px) {
    .logo {
      padding: 0;
    }

    .header-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: $white;
      z-index: -1;
    }

    .header-wrapper ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 70%;
    }

    .header-wrapper ul li {
      display: block;
      float: none;
      width: 100%;
      text-align: right;
      margin-bottom: 10px;
    }

    .header-wrapper ul li:not(:first-child) {
      margin-left: 0;
    }

    .header-wrapper ul li a {
      padding: 10px 24px;
      opacity: 0;
      color: #000;
      font-size: 18px;
      letter-spacing: 1.2px;
      transition: all 0.2s ease;
    }

    .nav-btn {
      position: absolute;
      right: 3rem;
      display: block;
      cursor: pointer;
      z-index: 9998;
    }

    .nav-btn i {
      display: block;
      width: 25px;
      height: 4px;
      background: $white;
    }

    .nav-btn i:nth-child(1) {
      margin-top: 12px;
    }

    .nav-btn i:nth-child(2) {
      margin-top: 7px;
    }
  }

  @media screen and (max-width: 375px){
    .header-wrapper {
      width: 100%;
    }
  }

  #nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
  }

  #nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(5px) rotate(-135deg);
  }

  #nav:checked + .nav-btn i:nth-child(2) {
    transform: translateY(-6px) rotate(135deg);
  }

  #nav:checked ~ .header-wrapper {
    z-index: 9990;
    opacity: 1;
  }

  #nav:checked ~ .header-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
  }

  .hidden {
    display: none;
  }
}