@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import "../design/variables.scss";

.main-layout {
  background: $blue-dark;
  background: -webkit-linear-gradient(top left, $blue-dark 0%, $blue-light 100%);
  background: -moz-linear-gradient(top left, $blue-dark 0%, $blue-light 100%);
  background: -o-linear-gradient(top left, $blue-dark 0%, $blue-light 100%);
  background: linear-gradient(to bottom right, $blue-dark 0%, $blue-light 100%);

  font-family: 'Source Sans Pro', sans-serif;

  min-height: 100vh;
}