@import "../design/variables.scss";

.login{
	
  position: relative;
  display: flex;
  top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	overflow: hidden;

  h1 {
    color: $white;
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
  }
	
	&.form-success{
		.container{
			h1{
				transform: translateY(85px);
			}
		}
  }
  
  *{
    box-sizing: border-box;
    padding: 0;
    
    font-weight: 300;
  }
  
  color: $white;
  font-weight: 300;
  
  ::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color:    $white;
    font-weight: 300;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color:    $white;
    opacity:  1;
    font-weight: 300;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color:    $white;
    opacity:  1;
    font-weight: 300;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color:    $white;
    font-weight: 300;
  }

  .container {
    margin: auto;
    text-align: center;
  }
  
  form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    
    input{
      outline: 0;
      width: 250px;
      
      border-radius: 3px;
      background-color: rgba($color: $white, $alpha: 0.4);
      border: 1px solid rgba($color: $white, $alpha: 0.4);
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      
      color: $white;
      
      transition-duration: 0.25s;
      font-weight: 300;
      
      &:hover{
        background-color: rgba($color: $white, $alpha: 0.4);
      }
      
      &:focus{
        background-color: $white;
        width: 300px;
        
        color: $blue-light;
      }
    }
    
    input[type="submit"]{
      appearance: none;
      outline: 0;
      background-color: $white;
      border: 0;
      padding: 10px 15px;
      color: $blue-light;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;
      transition-duration: 0.25s;
      
      &:hover{
        background-color: $blue-light-white;
      }
    }

    input[type="button"]{
      appearance: none;
      outline: 0;
      background-color: $white;
      border: 0;
      padding: 10px 15px;
      color: $blue-light;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;
      transition-duration: 0.25s;
      
      &:hover{
        background-color: $blue-light-white;
      }
    }
  }

}