@import "../design/variables.scss";

$breakpoint-alpha: 375px; // adjust to your needs

.profile {

  color: $white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;

  overflow: hidden;

  .rwd-table {
    margin: auto;
    padding: 1em;
    min-width: 300px; // adjust to your needs
    
    tr {
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;
    }
    
    th {
      display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
    }
    
    td {
      display: block; 
      
      &:first-child {
        padding-top: .5em;
      }
      &:last-child {
        padding-bottom: .5em;
      }
  
      &:before {
        content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
        font-weight: bold;
  
        // optional stuff to make it look nicer
        width: 6.5em; // magic number :( adjust according to your own content
        display: inline-block;
        // end options
        
        @media (min-width: $breakpoint-alpha) {
          display: none;
        }
      }
    }
    
    th, td {
      text-align: left;
      
      @media (min-width: $breakpoint-alpha) {
        display: table-cell;
        padding: .25em .5em;
        
        &:first-child {
          padding-left: 0;
        }
        
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  
  input[type="button"]{
    appearance: none;
    outline: 0;
    background-color: $white;
    border: 0;
    padding: 10px 15px;
    color: $blue-light;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    
    &:hover{
      background-color: $blue-light-white;
    }
  }
}
