@import "../design/variables.scss";

.admin {
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;

  &-login {
    margin: auto;
    text-align: center;

    h1 {
      color: $white;
      font-size: 40px;
      transition-duration: 1s;
      transition-timing-function: ease-in-put;
      font-weight: 200;
    }

    *{
      box-sizing: border-box;
      padding: 0;
      
      font-weight: 300;
    }

    form {
      padding: 20px 0;
      position: relative;
      z-index: 2;
      
      input{
        outline: 0;
        width: 250px;
        
        border-radius: 3px;
        background-color: rgba($color: $white, $alpha: 0.4);
        border: 1px solid rgba($color: $white, $alpha: 0.4);
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 18px;
        
        color: $white;
        
        transition-duration: 0.25s;
        font-weight: 300;
        
        &:hover{
          background-color: rgba($color: $white, $alpha: 0.4);
        }
        
        &:focus{
          background-color: $white;
          width: 300px;
          
          color: $blue-light;
        }
      }
      
      input[type="submit"]{
        appearance: none;
        outline: 0;
        background-color: $white;
        border: 0;
        padding: 10px 15px;
        color: $blue-light;
        border-radius: 3px;
        width: 250px;
        cursor: pointer;
        font-size: 18px;
        transition-duration: 0.25s;
        
        &:hover{
          background-color: $blue-light-white;
        }
      }

      input[type="button"]{
        appearance: none;
        outline: 0;
        background-color: $white;
        border: 0;
        padding: 10px 15px;
        color: $blue-light;
        border-radius: 3px;
        width: 250px;
        cursor: pointer;
        font-size: 18px;
        transition-duration: 0.25s;
        
        &:hover{
          background-color: $blue-light-white;
        }
      }
    }
  }
}